extends layout

block content
	.container
		h1= title

		.form-group
			label(for='') Type of Match
			select.form-control(id="gameType", name="gameType")
				option(value='matchType') Choose Match
				option(value='1v1') 1 vs 1
				option(value='2v2') 2 vs 2
		
		form(id="1v1", name="newgame1v1", method="post", style="display: none;")
			.form-group
				label(for='') Player 1
				select.form-control(name='p1name')
					option --
					each user, i in userlist
						option=user.fullname
			.form-group
				input#exampleInputFirstName.form-control(type='text', placeholder='Player 1 Score', name='p1score')

			.form-group
				label(for='') Versus

			.form-group
				label(for='') Player 2
				select.form-control(name='p2name')
					option --
					each user, i in userlist
						option=user.fullname
			.form-group
				input#exampleInputFirstName.form-control(type='text', placeholder='Player 2 Score', name='p2score')

			button.btn.btn-primary(type='submit') Submit

		form(id="2v2", style="display: none;")
			.form-group
				label(for='') Player 1
				select.form-control
					each user, i in userlist
						option=user.fullname
			br
			.form-group
				label(for='') Player 2
				select.form-control
					each user, i in userlist
						option=user.fullname

			label Versus
			br
			br
			
			.form-group
				label(for='') Player 3
				select.form-control
					each user, i in userlist
						option=user.fullname
			br
			.form-group
				label(for='') Player 4
				select.form-control
					each user, i in userlist
						option=user.fullname








