extends layout

block content
	.container
		h1= title

		.form-group
			label(for='') Type of Match
			select.form-control(id="gameType")
				option(value='matchType') Choose Match
				option(value='singles') Singles
				option(value='doubles') Doubles
		
		form(id="1v1", name="newgame1v1", method="post",  action="/newgame1v1", style="display: none;")
			.form-group
				label(for='') Yellow Team
				select.form-control(name='p1name')
					option --
					each user, i in userlist
						option=user.fullname
			.form-group
				input.form-control(type='text', placeholder='Yellow Team Score', name='p1score')

			.form-group
				label(for='') Versus

			.form-group
				label(for='') Black Team
				select.form-control(name='p2name')
					option --
					each user, i in userlist
						option=user.fullname
			.form-group
				input.form-control(type='text', placeholder='Black Team Score', name='p2score')

			button.btn.btn-primary(type='submit') Submit

		form(id="2v2", name="newgame2v2", method="post",  action="/newgame2v2", style="display: none;")
			.form-group
				label(for='') Yellow Team - Defensive Player
				select.form-control(name='p1name')
					option --
					each user, i in userlist
						option=user.fullname
			.form-group
				label(for='') Yellow Team - Offensive Player
				select.form-control(name='p2name')
					option --
					each user, i in userlist
						option=user.fullname
			.form-group
				input.form-control(type='text', placeholder='Yellow Team Score', name='team1score')

			.form-group
				label(for='') Versus
			
			.form-group
				label(for='') Black Team - Defensive Player
				select.form-control(name='p3name')
					option --
					each user, i in userlist
						option=user.fullname
			.form-group
				label(for='') Black Team - Offensive Player
				select.form-control(name='p4name')
					option --
					each user, i in userlist
						option=user.fullname
			.form-group
				input.form-control(type='text', placeholder='Black Team Score', name='team2score')

			button.btn.btn-primary(type='submit') Submit








