extends layout

block content
	.container
		h3=title
		table.table.table-striped
			thead
				tr
					th Game
					th GT
					th POS
					th SD
					th PRTN
					th W/L
					th GF
					th GA
					th DIFF
					th O
					th RG
					
			tbody
				if(player.games)
					each game, i in player.games
						if(game !== null)
							tr
								td=i+1
								td=game.gameType
								td=game.position
								td=game.side
								td=game.partner
								if(game.win)
									td W
								else
									td L
								td=game.score
								td=game.opponentScore
								if ((game.score-game.opponentScore) > 0)
									td.positive
										span +
										span=(game.score-game.opponentScore)
								else if ((game.score-game.opponentScore) == 0)
									td=span=(game.score-game.opponentScore)
								else 
									td.negative=(game.score-game.opponentScore)
								td=game.opponentNames
								td
									button.btn.btn-danger(type='button') 
										a(href='/removegame/player/'+userID+'/'+i) Delete Game

		button.btn.btn-primary(type='button')
			a(href='/standings') Back to Standings

		br
		br

		div.glossary
			ul
				li 
					b GT: 
					span Game Type
				li 
					b POS: 
					span Position
				li 
					b SD: 
					span Side
		div.glossary
			ul
				li
					b PRTN: 
					span Partner
				li
					b W/L: 
					span Win or Loss
				li
					b GF: 
					span Goals For
		div.glossary
			ul
				li
					b GA: 
					span Goals Against
				li 
					b DIFF: 
					span Goal Differential
				li
					b O: 
					span Opponents
