extends layout

block content
	.container
		h3 Player List
		table.table.table-striped
			thead
				tr
					th #
					th First Name
					th Last Name
					th Email
					th Date Joined
					th Remove Player
			tbody
				each user, i in userlist
					tr
						td=i+1
						td=user.fname
						td=user.lname
						td
							a(href='mailto:'+user.email+'?Subject=Want%20to%20Play%20a%20Foosball%20Game?')=user.email
						td=user.joined
						td
							button.btn.btn-danger(type='button') 
								a(href='/removeuser/userlist/'+user._id) Delete Player

		.btn-group(role='group' style='margin-right:15px;')
			button.btn.btn-primary(type='button') 
				a(href='/newuser') Add New Player

		.btn-group(role='group')
			button.btn.btn-primary.badge-btn(type='button')
				a(href='/newgame') New Game